@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500);
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0.1px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section.card {
  border: 2px solid #ffeba7;
  margin-top: 8em;
  background: #1f2029;
  border-radius: 24px 24px 24px 24px;
  padding: 48px 48px 48px 38px;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
}

section.card .text-content {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 192px);
}
section.card .text-content h3 {
  margin: 0;
  font-size: 1.5em;
  max-width: 20ch;
  color: #fff;
}
section.card .text-content p {
  margin: 15px 0 15px 0;
  color: #fff;
}
section.card .text-content a {
  border: 2px solid #ffeba7;
  color: white;
  align-self: flex-start;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  transition: 400ms all;
}
section.card .text-content a:hover {
  background: #ffeba7;
  color: #1f2029;
  border: 2px solid #1f2029;
}
section.card .visual {
  border: 2px solid #ffeba7;
  width: 55%;
  height: 25em;
  position: absolute;
  top: -5em;
  right: 4em;
  overflow: hidden;
  border-radius: 24px;
}
section.card .visual img {
  height: 100%;
  width: 100%;
}
article {
  margin: auto;
  display: block;
  width: calc(60vw + 248px);
  max-width: calc(920px + 248px);
  min-width: calc(640px + 248px);
}
.inputEnchere {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 3px solid #f2f2f2;
  color: #ffffff;
  align-self: flex-start;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  transition: 400ms all;
  background: #1f2029;
  margin-right: 1vw;
}

.mdp {
  background: none;
  border: none;
  color: white;
}

.encherir:hover {
  background: #ffeba7;
  color: #1f2029;
  border: 3px solid #1f2029;
  transition: 1s;
  clip-path: circle(100% at 50% 50%);
}

.encherir:not(:hover) {
  transition: 1s;
}

.btn_filter {
  background: #1f2029;
  border: 2px solid #ffeba7;
  border-radius: 5px;
  height: 2em;
  width: 7em;
  margin-left: 1em;
}

.btn_filter:hover {
  background: #ffeba7;
  border: 2px solid #1f2029;
  color: #1f2029;
  border-radius: 5px;
  height: 2em;
  width: 7em;
}

.filter-section {
  margin: 1em 0 1em 0;
}

.check {
  margin-left: 1em;
}

.card2 {
  border: 2px solid #ffeba7;
  margin-top: 8em;
  background: #1f2029;
  border-radius: 24px 24px 24px 24px;
  padding: 48px 48px 48px 28em;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
}
.card2 .text-content {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 192px);
}
.card2 .text-content h3 {
  margin: 0;
  font-size: 1.5em;
  max-width: 20ch;
  color: #fff;
}
.card2 .text-content p {
  margin: 15px 0 15px 0;
  color: #fff;
}
.card2 .text-content a {
  border: 2px solid #ffeba7;
  color: white;
  align-self: flex-start;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  transition: 400ms all;
}
.card2 .text-content a:hover {
  background: #ffeba7;
  color: #1f2029;
  border: 2px solid #1f2029;
}
.card2 .visual {
  border: 2px solid #ffeba7;
  width: 55%;
  height: 25em;
  position: absolute;
  top: -5em;
  right: 4em;
  overflow: hidden;
  border-radius: 24px;
}
.card2 .visual img {
  height: 110%;
}
.card_edit_profil {
  border: 2px solid #ffeba7;
  margin-top: 3em;
  background: #1f2029;
  border-radius: 24px 24px 24px 24px;
  padding: 48px 48px 48px 48px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
}
.card_edit_profil .text-content {
  display: flex;
  flex-direction: column;
  width: calc(60vw - 192px);
}
.card_edit_profil .text-content h3 {
  margin: 0;
  font-size: 1.5em;
  max-width: 20ch;
  color: #fff;
}
.card_edit_profil .text-content p {
  margin: 15px 0 15px 0;
  color: #fff;
}
.card_edit_profil .text-content a {
  border: 2px solid #ffeba7;
  color: white;
  align-self: flex-start;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  transition: 400ms all;
}
.card_edit_profil .text-content a:hover {
  background: #ffeba7;
  color: #1f2029;
  border: 2px solid #1f2029;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 20px 30px;
  color: #ffeba7;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #b39943;
  color: #1f2029;
  border-radius: 5px solid;
  box-shadow: 0 0 5px #000000, 0 0 10px #ffeba7, 0 0 10px #b39943,
    0 0 10px #ffeba7;
}
.btn span {
  position: absolute;
  display: block;
}
.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffeba7);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffeba7);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffeba7);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffeba7);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 300px) {
  .inputEnchere {
    width: 16em;
  }
}

@media all and (min-width: 301px) and (max-width: 720px) {
  body {
    padding: 48px 24px 0;
  }
  section.card {
    margin-top: 6em !important;
    padding: 88px 36px 36px;
    flex-direction: column;
    border-radius: 24px;
  }
  section.card .text-content h3 {
    max-width: calc(100% - 150px);
    font-size: 1em;
  }
  section.card .text-content p,
  section.card .text-content a {
    font-size: 0.8em;
  }
  section.card .visual {
    width: 15em;
    height: 10em;
    right: 16px;
    left: auto;
    border-radius: 30px;
  }
  section.card .visual img {
    width: 100%;
    height: auto;
  }
  .card2 {
    border: 2px solid #ffeba7 !important;
    margin-top: 8em !important;
    background: #1f2029 !important;
    border-radius: 24px 24px 24px 24px !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    align-self: flex-start !important;
    position: relative !important;
    justify-content: center;
    align-items: center;
  }
  .card2 .text-content {
    display: flex !important;
    flex-direction: column !important;
    width: 20em !important;
  }
  .card2 .text-content h3 {
    margin: 0;
    font-size: 1.5em;
    max-width: 20ch;
    color: #fff;
  }
  .card2 .text-content p {
    margin: 15px 0 15px 0;
    color: #fff;
  }
  .card2 .text-content a {
    border: 2px solid #ffeba7;
    color: white;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
  }
  .card2 .text-content a:hover {
    background: #ffeba7;
    color: #1f2029;
    border: 2px solid #1f2029;
  }

  .btn_filter {
    background: #1f2029;
    border: 2px solid #ffeba7;
    border-radius: 5px;
    height: 2em;
    width: 7em;
    margin-left: 8em;
    margin-top: 1em;
  }

  .btn_filter:hover {
    background: #ffeba7;
    border: 2px solid #1f2029;
    color: #1f2029;
    border-radius: 5px;
    height: 2em;
    width: 7em;
  }

  .filter-section {
    margin: 6em 0 1em 3em !important;
  }

  .check {
    margin-left: 1em !important;
  }

  .card_edit_profil {
    border: 2px solid #ffeba7;
    margin-top: 6em;
    width: 23em;
    margin-left: 0.7em;
    background: #1f2029;
    border-radius: 24px 24px 24px 24px;
    padding: 48px 48px 48px 48px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
  }
  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 1100px) {
  body {
    padding: 96px 48px 24px;
  }
  article {
    width: 100%;
    min-width: 100%;
  }
  section.card {
    margin-top: 10em;
    min-width: 100%;
  }
  section.card .text-content {
    width: 100%;
  }
  .filter-section {
    margin: 3em 0 1em 0;
  }
  .check {
    margin-left: 1em;
  }
  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media all and (min-width: 1200px) and (max-width: 1280px) {
  .card2 {
    border: 2px solid #ffeba7 !important;
    margin-top: 8em !important;
    background: #1f2029 !important;
    border-radius: 24px 24px 24px 24px !important;
    padding: 48px 48px 48px 9em !important;
    display: flex !important;
    flex-direction: row !important;
    align-self: flex-start !important;
    position: relative !important;
    justify-content: center;
    align-items: center;
  }
  .card2 .text-content {
    display: flex !important;
    flex-direction: column !important;
    width: 20em !important;
  }
  .card2 .text-content h3 {
    margin: 0;
    font-size: 1.5em;
    max-width: 20ch;
    color: #fff;
  }
  .card2 .text-content p {
    margin: 15px 0 15px 0;
    color: #fff;
  }
  .card2 .text-content a {
    border: 2px solid #ffeba7;
    color: white;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
  }
  .card2 .text-content a:hover {
    background: #ffeba7;
    color: #1f2029;
    border: 2px solid #1f2029;
  }

  .btn_filter {
    background: #1f2029;
    border: 2px solid #ffeba7;
    border-radius: 5px;
    height: 2em;
    width: 7em;
    margin-left: 1em;
    margin-top: 1em;
  }

  .btn_filter:hover {
    background: #ffeba7;
    border: 2px solid #1f2029;
    color: #1f2029;
    border-radius: 5px;
    height: 2em;
    width: 7em;
  }

  .filter-section {
    margin: 1em 0 1em 0;
  }

  .check {
    margin-left: 1em;
  }
}
